ACTION_SERVER_IP_ADDRESS=
DISABLE_SPEAKERS=off # Set to "off" for audible cues

SNOM_A__IP_ADDRESS=
SNOM_A__ACTION_SERVER_IP_ADDRESS=${ACTION_SERVER_IP_ADDRESS}
SNOM_A__ACTION_SERVER_PORT=
SNOM_A__USERNAME=
SNOM_A__PASSWORD=
SNOM_A__OUTGOING_URI=
SNOM_A__EXTENSION=

SNOM_B__IP_ADDRESS=
SNOM_B__ACTION_SERVER_IP_ADDRESS=${ACTION_SERVER_IP_ADDRESS}
SNOM_B__ACTION_SERVER_PORT=
SNOM_B__USERNAME=
SNOM_B__PASSWORD=
SNOM_B__OUTGOING_URI=
SNOM_B__EXTENSION=

PSTN_NUMBER_TO_CALL=
